{% extends "base.jinja2" %}
{% block title %}Welcome!{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  {% if request.user %}
    {% include 'dictionary/list.jinja2' %}
    <h1>Add new word</h1>
    {% include 'word/form.jinja2' %}
  {% else %}
    <h1>Login pls!</h1>
  {% endif %}
{% endblock %}
