<div>
  {% if errors %}
    <ul>
      {% for value in errors.values() %}
        <li>
          {{ value }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="POST">
    {{ form }}
    {% if is_editing %}
      <button type="submit" class="btn btn-primary">Update</button>
    {% else %}
      <button type="submit" class="btn btn-primary">Create</button>
    {% endif %}
  </form>
</div>