<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
  Translate
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ word.value }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ word.translate }}
      </div>
      <div class="modal-footer">
        <form action="{{ url_for('learn:learned', word_id=word.id) }}" method="POST">
          {{ form }}
          <button type="submit" class="btn btn-success">Success</button>
        </form>
      </div>
    </div>
  </div>
</div>