<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
  Translate
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ word.value }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ word.translate }}
      </div>
      <div class="d-flex justify-content-center modal-footer">
        <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
          {% for a in answers[::-1] %}
            <a href="{{ url_for('learn:learned', word_id=word.id, answer=a.answer) }}" class="btn btn-{{ a.btn_type.value }} btn-lg active" role="button" aria-pressed="true" style="margin: 0.1em">{{ a.text }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>