{% extends "base.jinja2" %}
{% block title %}Add new word | Welcome!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Add new word</h1>
  {% include 'dictionary/form.jinja2' %}
{% endblock %}
